pandas
numpy
PyPDF2
gradio
scikit-learn
umap-learn
tensorflow==2.13.0
tf-keras
sentence-transformers
fairlearn
reportlab
tqdm
matplotlib
Pillow
shap


gradio
pandas
numpy
PyPDF2
matplotlib
scikit-learn
tensorflow
sentence-transformers
umap-learn
reportlab
Pillow
tqdm
pickle5
fairlearn





pandas
numpy
PyPDF2
gradio
matplotlib
scikit-learn
tensorflow
sentence-transformers
umap-learn
fairlearn
reportlab
seaborn

google-generativeai


pandas
numpy
PyPDF2
gradio
matplotlib
scikit-learn
tensorflow
sentence-transformers
umap-learn
fairlearn
reportlab
google-generativeai
seaborn
scipy
hdbscan
